body {
	background: #F4ECEB;
}

body.modal-active {
	overflow: hidden;
}

#wrapper {
	background-color: #FFF;
}

.banner {
	background: #F4ECEB;
	box-sizing: border-box;
	display: flex;
	flex-flow: column;
	height: 100vh;
	justify-content: space-between;
	max-height: 1000px;
	min-height: 600px;
	padding: 3em 1em 1em;
	text-align: center;
}

.banner .banner-content {
	align-items: center;
	display: flex;
	flex-flow: column;
	justify-content: space-around;
}

.banner-content h1 {
	margin: 0;
}

.banner-content h2 {
	font-family: 'Spectral', 'Open Sans', sans-serif;
	font-size: 34px;
	font-style: italic;
	font-weight: normal;
	letter-spacing: -2px;
	margin: 0.4em 0;
	max-width: 600px;
}

.banner-content h3 {
	font-family: "Open Sans";
	font-weight: 100;
	margin: 0.2em 0;
}

.banner-content .spacer {
	border-bottom: 1px solid #E7ADAB;
	width: 36px;
}

.card-content .author {
	color: #BE8B8A;
	font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	font-weight: 300;
}

.card-content {
	box-sizing: border-box;
	display: flex;
	flex-flow: column;
	height: 100%;
	justify-content: space-around;
	left: 0;
	padding: 1em;
	position: absolute;
	top: 0;
	transition: all 0.5s ease;
	width: 100%;
}

.card-content .fa-heart-o {
	color: #E7ADAB;
	font-size: 1.3em;
}

.card-content .message {
	display: -webkit-box;
	font-weight: 700;
	line-height: 1.5;
	max-height: 3em;
	overflow: hidden;
	text-overflow: ellipsis;

	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.fa-long-arrow-down {
	color: #EFD6D4;
	font-size: 1.3em;
}

.grid {
	background-color: #FFF;
	display: grid;
	grid-gap: 24px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin: auto;
	max-width: 1200px;
	padding: 5.5em 1em;
}

.grid .note-card {
	align-items: center;
	border-radius: 5px;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.14);
	box-sizing: border-box;
	cursor: default;
	display: flex;
	flex-flow: column;
	justify-content: center;
	padding-bottom: 90%;
	position: relative;
	text-align: center;
	transition: box-shadow 0.2s, transform 0.2s;

	height: 18vw;
	max-height: 254px;
}

.grid .note-card:focus, .grid .note-card:hover {
	box-shadow: 0 0 22px 0 rgba(0, 0, 0, 0.09);
	outline-color: #E7ADAB;
	transform: translateY(-2px);
}

.modal-active .overlay, .password-active .overlay {
	display: block;
}

.modal-active .pop-up {
	box-sizing: border-box;
	display: block;
	height: auto;
	z-index: 2;
}

.overlay {
	background: #F4ECEB;
	display: none;
	height: 100%;
	opacity: 0.95;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

.password-active .password-container {
	left: 50%;
	position: fixed;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 2
}

.pop-up {
	display: none;
	height: 100%;
	height: 200px;
	left: 50%;
	max-height: 100vh;
	overflow: auto;
	padding: 1em;
	padding-top: 5%;
	position: fixed;
	top: 0;
	transform: translate(-50%, 0);
	width: 100%;
	z-index: -1;
}

.pop-up .author {
	font-size: 1em;
}

.pop-up .card-content {
	background: #FFF;
	border-radius: 5px;
	box-shadow: 0 0 4px 0 #EDCCCB;
	padding: 4em 9em 5.5em;
	position: relative;
	text-align: center;
}

.pop-up .controls {
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 2em 0;
}

.pop-up .controls .fa {
	color: #E7ADAB;
	cursor: pointer;
	font-size: 24px;
	margin: 0 2em;
	opacity: 0.5;
	transition: transform 0.1s;
}

.pop-up .controls .fa:hover {
	transform: scale(1.1);
}

.pop-up .controls .close {
	align-items: center;
	cursor: pointer;
	font-size: 14px;
	font-style: italic;
	font-weight: 200;
	opacity: 0.85;
}

.pop-up .controls .close:after {
	background: #E7ADAB;
	content: '';
	display: block;
	height: 1px;
	margin: 0.1em 0;
	opacity: 0;

	-webkit-transform: scaleX(0);
	-moz-transform: scaleX(0);
	-ms-transform: scaleX(0);
	-o-transform: scaleX(0);
	transform: scaleX(0);

	-webkit-transition: all 0.3s cubic-bezier(0.4, -0.4, 0.4, 1.4);
	-moz-transition: all 0.3s cubic-bezier(0.4, -0.4, 0.4, 1.4);
	-o-transition: all 0.3s cubic-bezier(0.4, -0.4, 0.4, 1.4);
	transition: all 0.3s cubic-bezier(0.4, -0.4, 0.4, 1.4);
}

.pop-up .controls .close:hover:after {
	opacity: 0.5;

	-webkit-transform: scaleX(1);
	-moz-transform: scaleX(1);
	-ms-transform: scaleX(1);
	-o-transform: scaleX(1);
	transform: scaleX(1);
}

.pop-up .controls .spacer {
	background: #E7ADAB;
	height: 1px;
	margin: 0 0.5em;
	opacity: 0.34;
	width: 28px;
}

.pop-up .fa-heart {
	color: #E7ADAB;
	font-size: 1.3em;
}

.pop-up .message {
	font-weight: 600;
	max-height: none;
	padding: 4em 0 3em;

	-webkit-line-clamp: unset;
}

.pop-up .pop-up-content {
	margin: auto;
	max-width: 1015px;
}

.firefox .grid .note-card {
	height: 18vw;
	max-height: 254px;
}

.firefox .card-content .message {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.firefox .pop-up .message {
	overflow: visible;
	white-space: normal;
}

.safari {
	-webkit-font-smoothing: antialiased;
}

@media screen and (max-width: 1000px) {
	.grid {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.firefox .grid .note-card {
		height: 27vw;
		max-height: 270px;
	}
}

@media screen and (max-width: 800px) {
	.grid {
		grid-template-columns: 1fr 1fr;
	}

	.firefox .grid .note-card {
		height: 40vw;
		max-height: 326px;
	}

	.pop-up {
		max-height: 95vh;
		padding-top: 1em;
		top: 5%;
	}

	.pop-up .author {
		font-size: 17px;
	}

	.pop-up .card-content {
		padding: 3em 4em;
	}

	.pop-up .message {
		font-size: 16px;
	}
}

@media screen and (max-width: 500px) {
	.grid {
		grid-template-columns: 1fr;
		padding: 1em;
	}

	.firefox .grid .note-card {
		height: 72vw;
		max-height: 360px;
	}

	.pop-up {
		max-height: 100%;
		padding-top: 1em;
		top: 0;
	}

	.pop-up .author {
		font-size: 15px;
	}

	.pop-up .card-content {
		padding: 2em;
	}

	.pop-up .message {
		font-size: 15px;
		padding: 2em 0;
	}

	.pop-up .controls .fa.next {
		margin: 0 0 0 auto;
	}

	.pop-up .controls .fa.prev {
		margin: 0 auto 0 0;
	}
}