html, body {
	margin: 0;
	height: 100%;
}

body {
	background: #F4ECEB;
	background: linear-gradient(#F4ECEB, #F4ECEB 500px, #FFF 500px, #FFF 100%);
	color: #BE8B8A;
	font-family: 'Spectral', 'Open Sans', sans-serif;
	font-size: 18px;
}

#banner {
	background: #F0E7E6;
	box-sizing: border-box;
	left: 0;
	padding: .5em;
	width: 100%;
}

#banner > div {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 0 1em;
}

#banner > div > div {
	text-align: right;
}

.fa-heart {
	color: #E7ADAB;
	opacity: .35;
}

form {
	background: #FFF;
	border: 1px solid #EDCCCB;
	border-radius: 5px;
	margin: 0 auto;
	max-width: 800px;
	padding: 2em;
	text-align: left;
}

h1 {
	color: #FFF;
	font-size: 100px;
	font-weight: bold;
	margin:.25em;
	text-align: center;
}

label {
	display: block;
	margin: 0 0 5px;
	text-align: left;
}

input, textarea {
	border-color: #EFE5E4;
	border-radius: 5px;
	box-shadow: none;
	border-style: solid;
	border-width: 2px;
	box-sizing: border-box;
	display: inline-block;
	font-size: 16px;
	line-height: 1.5em;
	outline: none;
	padding: .5em 1em;
	margin: 0 0 1em;
	width: 100%;
}

button, .btn {
	background: #BE8B8A;
	border: 0;
	border-radius: 4px;
	color: #FFF;
	cursor: pointer;
	display: inline-block;
	font-family: 'Source Sans Pro';
	font-size: 15px;
	font-weight: 600;
	line-height: 1.5em;
	outline: none;
	margin: 15px 0 0;
	padding: .5em 1.25em;
}

button:hover {
	background: rgba(190, 139, 138, .5);
}

.btn {
	background: #FFF;
	color: #EEACA4;
	margin: .25em;
}

.btn:hover {
	background: rgba(255, 255, 255, .5);
}

.btn-secondary {
	background: rgba(255, 255, 255, .5)
}

.btn-secondary:hover {
	background: rgba(255, 255, 255, .25);
}

a {
	text-decoration: none;
}

.max-full {
	max-width: 1200px;
	margin: 0 auto;
}