html, body {
	margin: 0;
	height: 100%;
}

body {
	background: #F4ECEB;
	background: linear-gradient(#F4ECEB, #F4ECEB 500px, #FFF 500px, #FFF 100%);
	color: #BE8B8A;
	font-family: 'Spectral', 'Open Sans', sans-serif;
	font-size: 18px;
}

#banner {
	background: #F0E7E6;
	box-sizing: border-box;
	left: 0;
	padding: 16px .5em;
	width: 100%;
}

#banner > div {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 0 1em;
}

#banner > div > div {
	text-align: right;
}

.fa-heart {
	color: #E7ADAB;
	font-size: 1.5em;
	opacity: .35;
}

form {
	background: #FFF;
	border: 1px solid #EDCCCB;
	border-radius: 5px;
	margin: 0 auto;
	max-width: 800px;
	padding: 50px 50px 70px;
	text-align: left;
}

h1 {
	color: #FFF;
	font-size: 120px;
	font-weight: 900;
	margin: 20px;
	text-align: center;
	text-shadow: 0 2px 14px rgba(239, 214, 212, .5);
}

label {
	color: #BE8B8A;
	font-size: 18px;
	font-weight: bold;
	display: block;
	margin: 0 0 5px;
	text-align: left;
}

input, textarea {
	border-color: #EFE5E4;
	border-radius: 5px;
	box-shadow: none;
	border-style: solid;
	border-width: 2px;
	box-sizing: border-box;
	display: inline-block;
	font-size: 16px;
	line-height: 1.5em;
	outline: none;
	padding: .5em 1em;
	margin: 0 0 1em;
	width: 100%;
}

button, .btn {
	background: #BE8B8A;
	border: 0;
	border-radius: 4px;
	color: #FFF;
	cursor: pointer;
	display: inline-block;
	font-family: 'Source Sans Pro';
	font-size: 17px;
	font-weight: 400;
	line-height: 1.5em;
	outline: none;
	margin: 15px 0 0;
	padding: 18px 34px;
}

button:hover, button:disabled {
	background: rgba(190, 139, 138, .5);
}

button:disabled {
	cursor: not-allowed;
}

.btn {
	background: #FFF;
	color: #EEACA4;
	margin: .25em;
	padding: 12px 24px;
}

.btn:hover {
	background: rgba(255, 255, 255, .5);
}

.btn-secondary {
	background: rgba(255, 255, 255, .5)
}

.btn-secondary:hover {
	background: rgba(255, 255, 255, .25);
}

a {
	text-decoration: none;
}

.max-full {
	max-width: 1200px;
	margin: 0 auto;
}

@media screen and (max-width: 600px) {
	h1 {
		font-size: 100px;
	}

	form {
		padding: 25px 25px 35px;
	}
}

.loading button {
	background-image: linear-gradient(
		to left top,
		rgba(255, 255, 255, .2) 25%,
		transparent 25%,
		transparent 50%,
		rgba(255, 255, 255, .2) 50%,
		rgba(255, 255, 255, .2) 75%,
		transparent 75%,
		transparent);
	background-size: 80px 80px;
	animation: loading 1s linear infinite;
}

@keyframes loading {
	0% { background-position: 0 0; }
	100% { background-position: 80px 0; }
}