body {
	background: #F4ECEB;
}

#wrapper {
	background-color: #FFF;
}

.banner {
	background: #F4ECEB;
	box-sizing: border-box;
	display: flex;
	flex-flow: column;
	height: 100vh;
	justify-content: space-between;
	max-height: 1000px;
	min-height: 600px;
	padding: 3em 1em 1em;
	text-align: center;
}

.banner .banner-content {
	flex-flow: column;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.banner-content h1 {
	margin: 0;
}

.banner-content h2 {
	font-family: 'Spectral', 'Open Sans', sans-serif;
	font-size: 34px;
	font-style: italic;
	font-weight: normal;
	letter-spacing: -2px;
	margin: 0.4em 0;
	max-width: 600px;
}

.banner-content h3 {
	font-family: "Open Sans";
	font-weight: 100;
	margin: 0.2em 0;
}

.banner-content .spacer {
	border-bottom: 1px solid #E7ADAB;
	width: 36px;
}

.card-content .author {
	color: #BE8B8A;
	font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	font-weight: 300;
}

.card-content {
	box-sizing: border-box;
	display: flex;
	flex-flow: column;
	height: 100%;
	justify-content: space-around;
	padding: 1em;
	position: absolute;
	top: 0;
	transition: all 0.5s ease;
	width: 100%;
}

.card-content .fa-heart-o {
	color: #E7ADAB;
	font-size: 1.3em;
}

.card-content .message {
	display: -webkit-box;
	font-weight: 700;
	line-height: 1.5;
	max-height: 3em;
	overflow: hidden;
	text-overflow: ellipsis;

	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.fa-long-arrow-down {
	color: #EFD6D4;
	font-size: 1.3em;
}

.grid {
	background-color: #FFF;
	display: grid;
	grid-gap: 24px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin: auto;
	max-width: 1200px;
	padding: 5.5em 1em;
}

.grid .note-card {
	align-items: center;
	border-radius: 5px;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.14);
	box-sizing: border-box;
	display: flex;
	flex-flow: column;
	justify-content: center;
	padding-bottom: 90%;
	position: relative;
	text-align: center;
	border: 1px solid transparent;
	cursor: pointer;
	transition: transform 0.2s;
}

.grid .note-card:focus, .grid .note-card:hover {
	box-shadow: 0 0 22px 0 rgba(0, 0, 0, 0.09);
	border-color: #E7ADAB;
	transform: translateY(-2px);
}

.modal-active .overlay, .password-active .overlay {
	display: block;
}

.modal-active .pop-up {
	display: block;
	height: auto;
	max-width: 90%;
	width: 1015px;
	z-index: 2;
}

.overlay {
	background: #F4ECEB;
	display: none;
	height: 100%;
	opacity: 0.95;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

.password-active .password-container {
	left: 50%;
	position: fixed;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 2
}

.pop-up {
	transform: translate(-50%, 0);
	left: 50%;
	display: none;
	height: 200px;
	position: fixed;
	top: 20%;
	width: 200px;
	z-index: -1;
}

.pop-up .author {
	font-size: 1em;
}

.pop-up .card-content {
	background: #FFF;
	border-radius: 5px;
	box-shadow: 0 0 4px 0 #EDCCCB;
	padding: 4em 9em 5.5em;
	position: relative;
	text-align: center;
}

.pop-up .controls {
	padding: 2em 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pop-up .controls .fa {
	transition: transform 0.1s;
	margin: 0 2em;
	cursor: pointer;
	color: #E7ADAB;
	opacity: 0.5;
	font-size: 24px;
}

.pop-up .controls .fa:hover {
	transform: scale(1.1);
}

.pop-up .controls .close {
	align-items: center;
	cursor: pointer;
	display: flex;
	font-style: italic;
	font-weight: 200;
	font-size: 14px;
	opacity: 0.85;
}

.pop-up .controls .spacer {
	background: #E7ADAB;
	height: 1px;
	width: 28px;
	opacity: 0.34;
	margin: 0 0.5em;
}

.pop-up .fa-heart {
	color: #E7ADAB;
}

.pop-up .message {
	font-weight: 600;
	max-height: none;
	padding: 4em 0 3em;

	-webkit-line-clamp: unset;
}

@media screen and (max-width: 1000px) {
	.grid {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media screen and (max-width: 800px) {
	.grid {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (max-width: 500px) {
	.grid {
		grid-template-columns: 1fr;
		padding: 1em;
		max-width: 400px;
	}
}